@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @font-face {
      font-family: 'sans-bold';
      src: url('../assets/fonts/sans-bold.ttf') format('truetype');
  }
  @font-face {
      font-family: 'sans-bold-italic';
      src: url('../assets/fonts/sans-bold-italic.ttf') format('truetype');
  }
  @font-face {
      font-family: 'sans-extra-light-italic';
      src: url('../assets/fonts/sans-extra-light-italic.ttf') format('truetype');
  }
  @font-face {
      font-family: 'sans-extra-light';
      src: url('../assets/fonts/sans-extra-light.ttf') format('truetype');
  }
  @font-face {
      font-family: 'sans-italic';
      src: url('../assets/fonts/sans-italic.ttf') format('truetype');
  }
  @font-face {
      font-family: 'sans-light-italic';
      src: url('../assets/fonts/sans-light-italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'sans-light';
    src: url('../assets/fonts/sans-light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'sans-medium-italic';
    src: url('../assets/fonts/sans-medium-italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'sans-medium';
    src: url('../assets/fonts/sans-medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'sans-regular';
    src: url('../assets/fonts/sans-regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'sans-semi-bold-italic';
    src: url('../assets/fonts/sans-semi-bold-italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'sans-semi-bold';
    src: url('../assets/fonts/sans-semi-bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'sans-thin-italic';
    src: url('../assets/fonts/sans-thin-italic.ttf') format('truetype');
  }
  @font-face {
    font-family: 'sans-thin';
    src: url('../assets/fonts/sans-thin.ttf') format('truetype');
  }
  @font-face {
    font-family: 'nunito-black';
    src: url('../assets/fonts/nunito-black.ttf') format('truetype');
  }
  h6 {
      @apply font-bold
  }
  h1 {
      @apply font-bold text-3xl
  }
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-input {
  -webkit-text-security: disc;
}